Source: gvm-libs
Maintainer: arcticwolf
Section: libs
Priority: optional
Standards-Version: 4.1.5
Build-Depends: debhelper (>= 11)

Package: gvm-libs
Architecture: any
Depends: libassuan0,
         libc6,
         libgcrypt20,
         libglib2.0-0,
         libgpg-error0,
         libgpgme11,
         libhiredis0.13,
         libssh-gcrypt-4,
         libuuid1,
         zlib1g
Description: GVM Libraries Module
 This is the libraries module for the Greenbone Vulnerability Management
 Solution.
 .
 It is used for the Greenbone Security Manager appliances and provides various
 functionalities to support the integrated service daemons.
